body {
    --bleuFonce : #3C4FA0;
    --bleuMoyen : #4488C5;
    --bleuClair : #8FC1E6;
    font-family: 'Calibri';
    background-image: url("../Images/background.png");
    background-size: cover;
}

.maNav {
    background-color: var(--bleuFonce);
}

.logonav {
    width: 50%;
}

.formConnexion {
    background-color: var(--bleuFonce);
    color: white;
    border: solid 3px white;
    border-radius: 10px;
    width: 50%;
}

.inputText {
    border-radius: 5px;
    border: none;
    color: var(--bleuMoyen);
}


.maCarte{
    background-color: var(--bleuFonce);
    color: white;
    border: solid 3px white;
    text-decoration: none;
    
}
.maCarte:hover{
    background-color: var(--bleuMoyen);
    text-decoration: none;
}
.lienCarte{
    text-decoration: none;
}

.contourAdmin {
    background-color: var(--bleuFonce);
    border: solid 3px white;
}


.maRecherche {
    width: 500px;
}

.espaceBouton {
    margin-right: 20px;
}

@media screen and (max-width: 992px) {
    .formConnexion {
        width: 100%;
    }
}